.root {
-fx-background-color: #51535c;
}

.button {
-fx-background-color: #8a3232;
-fx-text-fill: #dedede;
}

.list-cell {
-fx-text-fill: #00e031;
-fx-font: 14px "Consolas";
}

.list-cell:odd {
/*-fx-background-color: linear-gradient(#116a73 0.0%, #10666e 100.0%);*/
    -fx-background-color: black;
}

.list-cell:even {
/*-fx-background-color: linear-gradient(#38767c 0.0%, #347075 100.0%);*/
    -fx-background-color: black;
}